<!DOCTYPE html>
<html ng-app="universidad-app">
<head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <link rel="stylesheet" href="css/bootstrap.min.css">
     <script src="js/angular.min.js"></script>
     <script src="js/prueba3.js"></script> 
</head>

<body ng-controller="profesorCtrl as profe">

     <div class="container">
            
    Hola {{datos}} <br>
    Hola2 {{datos2}}<br><br>

        <ul>
          <li ng-repeat="nombre in datos">{{nombre}}</li>
        </ul>
     
     
<br><br><br>
     <table class="table table-striped">
       <tr>
         <th>Nombre</th>
         <th>Edad</th>
         <th>Ciudad</th>
       </tr>
       <tr ng-repeat="dato in datos2">
         <td>{{dato.nombre}}</td>
         <td>{{dato.edad}}</td>
         <td>{{dato.ciudad}}</td>
       </tr>
     </table>


     </div>



</body>

</html>