<!DOCTYPE html>
<html ng-app="universidad-app">
<head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <link rel="stylesheet" href="css/bootstrap.min.css">
     <script src="js/angular.min.js"></script>
     <script src="js/prueba3.js"></script> 
</head>

<body ng-controller="profesorCtrl as profe">

     <div class="container">
            
    Hola {{datos}} <br>
    Hola2 {{datos2}}<br><br>

        <ul>
          <li ng-repeat="nombre in datos">{{nombre}}</li>
        </ul>
     
   <br><br>  
     Filtro de nombres <input type="text" ng-model="busqueda"  class="form-control"  placeholder="Ingrese el filtro" autofocus /> 
<br><br><br>
     <table class="table table-striped">
       <tr>
         <th> <a href="#" ng-click="columna='nombre';reverse=!reverse;">Nombre</a><chor/th>
         <th> <a href="#" ng-click="columna='edad';reverse=!reverse;">Edad</a></th>
         <th> <a href="#"ng-click="columna='ciudad';reverse=!reverse;">Ciudad</a></th>
       </tr>
       <tr ng-repeat="dato in datos2| filter:busqueda |orderBy:columna:reverse">
         <td>{{dato.nombre}}</td>
         <td>{{dato.edad}}</td>
         <td>{{dato.ciudad}}</td>
       </tr>
     </table>


     </div>


<div  class="container">

Su pais actual es {{pais}}

<select ng-model="pais" class="form control" ng-options="pais.id as pais.nombre for pais in paises">
<option>Seleccione</option>

</select>
  </div>


</body>

</html>