<!DOCTYPE html>
<html ng-app>
<head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <link rel="stylesheet" href="css/bootstrap.min.css">
     <script src="js/angular.min.js"></script>
  
</head>

<body >

     <div class="container">
            


    Introduzca su nombre : <input type="text" ng-model="nombre"  class="form-control"  placeholder="Ingrese el nombre" autofocus /><br>
    Introduzca su edad : <input type="number" ng-model="edad" class="form-control" /><br>
    Introduzca su puesto : <input type="text" ng-model="puesto" class="form-control" /><br>


    Hola {{nombre}} de {{edad}} trabajador de {{puesto|lowercase}}
    

     </div>

</body>

</html>